
<%= render 'layouts/carousel' %>

<div class="container-fluid">
  <div class="row present home-about">
    <div class="col-md-10 col-md-offset-1"> 
      <h2 class="present">DreamWorth</h2>
      <p class="lead">Dreamworth is dedicated to maintaining your brand’s integrity and delivering your order on time and on budget. Whether your company is large or small, our team of creative experts is here to help you develop the best marketing solution. This means you will find the perfect promotional products to fit your company’s advertising needs. Our topnotch customer service is unmatched in the industry, keeping you our top priority. We can offer you a wide variety of custom promotional items at competitive prices. You will find thousands of products available, with new products added daily so your brand can keep up with the latest trends.</p>
      <!-- READ MORE LINK TO ABOUT PAGE -->
    </div>
  </div>


  <section id="section-works" class="section appear clearfix">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Products</h2>
            <p>Our unique range of eco-friendly corporate gifts and promotional items include bags, pens, stationary, USB flash drives, and more.</p>
          </div>
        </div>
      </div>

      <!-- RESIZE IMAGES 360 x 240 px -->              
      <div class="col-md-12">
        <div class="row">
          <div class="portfolio-items isotopeWrapper clearfix" id="3">

            <article class="col-md-4 isotopeItem webdesign">
              <div class="portfolio-item">
                <%= image_tag("Card_Bag.JPG", alt: 'Generic placeholder image' ) %>

                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <h5><a href="#">Eco-Friendly Bags</a></h5>
                    <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                  </div>                      
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem webdesign">
              <div class="portfolio-item">
                <%= image_tag("Card_WineBag.JPG", alt: 'Generic placeholder image', ) %>

                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <h5><a href="#">Eco-Friendly Wine Bags</a></h5>
                    <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                  </div>                      
                </div>
              </div>
            </article>


            <article class="col-md-4 isotopeItem webdesign">
              <div class="portfolio-item">
                <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <h5><a href="#">Portfolio name</a></h5>
                    <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                  </div>                      
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem webdesign">
              <div class="portfolio-item">
                <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <h5><a href="#">Portfolio name</a></h5>
                    <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                  </div>                      
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem webdesign">
              <div class="portfolio-item">
                <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <h5><a href="#">Portfolio name</a></h5>
                    <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                  </div>                      
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem webdesign">
              <div class="portfolio-item">
                <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <h5><a href="#">Portfolio name</a></h5>
                    <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                  </div>                      
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem webdesign">
              <div class="portfolio-item">
                <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <h5><a href="#">Portfolio name</a></h5>
                    <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                  </div>                      
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem webdesign">
              <div class="portfolio-item">
                <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <h5><a href="#">Portfolio name</a></h5>
                    <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                  </div>                      
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem webdesign">
              <div class="portfolio-item">
                <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <h5><a href="#">Portfolio name</a></h5>
                    <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                  </div>                      
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row present home-about">
      <div class="col-md-10 col-md-offset-1"> 

        <p class="lead">Research shows that the correct promotional products can provide a higher ROI (return on investment) than other forms of advertising. Corporate gifts are a great way for you to keep your logo and brand name in front of your target audience. We offer a great range of corporate gifts that can all be personalized for any business at competitive prices.</p>
        <p class="lead">We provide our clients with a wide range of merchandising options while raising the bar in the corporate gifts and branded goods arena. Our professional approach results in a worry-free and enjoyable customer experience. If you are looking for branded merchandising solutions that are dynamic, creative, impactful, timeous, and within budget, then we are your partner.</p>

      </div>
    </div>

  </section>

