<div id="row present home-about">
  <div class="col-lg-8 col-lg-offset-2 centered">  
    <h1 class="present">Eco-Friendly Corporate &amp; Promotional Gifts</h1>
    <ul class="list-inline center">
      <li><a href="#bags">Eco-Friendly Bags</a></li>
      <li><a href="#stationary">Pens &amp; Stationary</a></li>
      <li><a href="#usb">USB &amp; Flash Drives</a></li>
      <li><a href="/theschoolyard">The School Yard</a></li>
    </ul>
  </div>
</div>


<!-- BAGS -->
<section id="section-works " class="section appear clearfix">
  <div class="container" id="bags">

    <div class="row mar-bot40">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
          <h2 class="section-heading animated" data-animation="bounceInUp">Eco-Friendly Bags</h2>
          <p>Our eco-friendly bags include a variety of shopping bags, laptop bags and back packs. These bags are perfect as either promotional or corporate gifts for “going green”.</p>
        </div>
      </div>
    </div>
    <!-- RESIZE IMAGES 360 x 240 px -->              
    <div class="col-md-12">
      <div class="row">
        <div class="portfolio-items isotopeWrapper clearfix" id="3">

          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("Card_Bag.JPG", alt: 'Generic placeholder image' ) %>
              
              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Product Name</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>

          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("Card_WineBag.JPG", alt: 'Generic placeholder image', ) %>

              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Product Name</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>

          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("Card_WineBag.JPG", alt: 'Generic placeholder image', ) %>

              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Product Name</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>

        </div>
      </div>
    </div>
  </div>
</section>

<hr class="featurette-divider">

<!-- STATIONARY -->
<section id="section-works " class="section appear clearfix">
  <div class="container" id="stationary">

    <div class="row mar-bot40">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
          <h2 class="section-heading animated" data-animation="bounceInUp">Eco-Friendly Stationary</h2>
          <p>Customized promotional Pens, Stationery and USB flash drives are quickly growing as the top choice for marketing your brand. Our novelties include: Wood USB Drives, Wrist Band USB Drives, Lanyard USB Drives, Card USB Drives</p>

        </div>
      </div>
    </div>

    <!-- RESIZE IMAGES 360 x 240 px -->              
    <div class="col-md-12">
      <div class="row">
        <div class="portfolio-items isotopeWrapper clearfix" id="3">

          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Product Name</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>

          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Product Name</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>


          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Product name</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="featurette-divider">

<!-- USB -->
<section id="section-works" class="section appear clearfix usb">
  <div class="container" id="usb">

    <div class="row mar-bot40">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
          <h2 class="section-heading animated" data-animation="bounceInUp">EcoGreen USB Drives</h2>
          <p>Our Eco-green USB drives are RoHS compliant and are free of Lead, Cadmium, and Mercury. In a business environment that is constantly changing, USB Flash drives are on the cutting edge. Be one of the first to utilize our unique eco-friendly styles for success in your campaign while also helping the environment. We can have all your marketing content, presentations, and catalogs preloaded on the USB, let us save you time and do it for you.</p>

        </div>
      </div>
    </div>

    <!-- RESIZE IMAGES 360 x 240 px -->              
    <div class="col-md-12">
      <div class="row">
        <div class="portfolio-items isotopeWrapper clearfix" id="3">

          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Wood USB Drive</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>

          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Wrist Band USB Drive</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>

          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Lanyard USB Drive</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="row">
        <div class="portfolio-items isotopeWrapper clearfix" id="3">
          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Card USB Drive</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="featurette-divider">

<!-- Schoolyard -->
<section id="section-works" class="section appear clearfix">
  <div class="container" id="schoolyard">

    <div class="row mar-bot40">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
          <h2 class="section-heading animated" data-animation="bounceInUp">The Schoolyard</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        </div>
      </div>
    </div>

    <!-- RESIZE IMAGES 360 x 240 px -->              
    <div class="col-md-12">
      <div class="row">
        <div class="portfolio-items isotopeWrapper clearfix" id="3">

          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>
              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Eco-Friendly Bags</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>

          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>

              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Eco-Friendly Wine Bags</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>

          <article class="col-md-4 isotopeItem webdesign">
            <div class="portfolio-item">
              <%= image_tag("stock1.jpg", alt: 'Generic placeholder image', ) %>
              <div class="portfolio-desc align-center">
                <div class="folio-info">
                  <h5><a href="#">Product name</a></h5>
                  <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                </div>                      
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>






